h1{
   color: blue;
   font-size: 2rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
p{
   color: blue;
   font-size: 2rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.destaque {
 color: red;
 font-size: 2rem;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}